<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tu galería para seleccionar fotos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Necesitamos permiso para guardar fotos en tu galería.</string>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para escanear datos bancarios.</string>
</dict>
</plist>
